input {
    keyboard {
        repeat-delay 10000   // effectively off
    }
}

gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

window-rule {
    match app-id="google-chrome"

    default-column-width { proportion 1.0; }
}


window-rule {
    match app-id="firefox"

    default-column-width { proportion 1.0; }
}
